/* FONTS */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

/* BASIC STYLES */
html {
  height: 100%;
  background-color:#ffffff;
}

body {
  min-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000000;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}


/* COMMON BUTTONS STYLES */
.button {
  display: inline-block;
  padding: 9px 15px 8px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-big {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
  background-color: #E5E5E5;
}

.button-favorite {
  background-color: #7DB54F;
}

.button-favorite:hover {
  background-color: #6C9E42;
}

.button-favorite:focus {
  background-color: #6C9E42;
}

.button-favorite:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorite:disabled {
  background-color: #E5E5E5;
}


/* HEADER */
.page-header {
  color: inherit;
  background-color: #FFFFFF;
  margin-bottom: -1px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.page-header-logo-link {
  display: block;
  position: absolute;
  margin-right: 30px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-header-logo-link + .navigation-list {
  padding-left: 169px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align:center;
  color: inherit;
  text-decoration: none;
}

.navigation-link-index::before {
  position: absolute;
  top: 64px;
  width: 68px;
  height: 2px;
  background-color: #756257;
  content: "";
  z-index: 1;
}

.navigation-link-catalog::before {
  position: absolute;
  top: 64px;
  width: 93px;
  height: 2px;
  background-color: #756257;
  content: "";
  z-index: 1;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link{
  min-width: 42px;
  min-height: 66px;
  padding: 0;
  background-image: url('../images/icons/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link{
  min-width: 42px;
  min-height: 66px;
  padding: 0;
  background-image: url('../images/icons/icon-favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 265px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.count-badge {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 24px;
  font-size: 10px;
  line-height: 13px;
  border: 0;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding: 4px 0 4px 0;
  letter-spacing: -0.1em;
}

.button-navigation-user {
  display: block;
  min-width: 130px;
}

/* INDEX PAGE */
.main-index {
  background-color: #FFFFFF;
}

.main-container {
  position: relative;
  flex-grow: 1;
}

.promo {
  min-height:485px;
  padding-top: 51px;
  box-sizing: border-box;
  background-color: #466887;
  background-image: url("../images/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.promo::after {
  position: absolute;
  width: 1200px;
  height: 57px;
  top: 428px;
  left: 0;
  background-image: url("../images/promo-divider.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
}

.advantages {
  padding-top: 63px;
  margin: 0 auto;
}

.slogan {
  width: 630px;
  margin: 0 auto;
  margin-bottom: 31px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slogan-description {
  width: 654px;
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding-top: 92px;
}

.advantages-item-low {
  padding-top: 103px;
}

div.advantages-item {
background-color: rgba(130, 179, 211, 1);
}

.advantages-item-banner {
  width: 1200px;
  min-height: 384px;
  display: flex;
}

.advantages-item-banner-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-wrapper {
  width: 230px;
  margin: 0 auto;
}

.advantages-img {
  display: block;
  background-color: #82B3D3;
}

.additional-advantages {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.additional-advantages-item-wrapper {
  width: 230px;
  margin: 0 auto;
  padding-top: 102px;
}

.advantages-item:nth-child(1) .additional-advantages-item-wrapper {
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top center;
}

.advantages-item:nth-child(2) .additional-advantages-item-wrapper {
  background-image: url("../images/icons/icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top center;
}

.advantages-item:nth-child(3) .additional-advantages-item-wrapper {
  background-image: url("../images/icons/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top center;
}

.additional-advantages-item {
  padding-top: 80px;
  color: #000000;
}

.additional-advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list > .advantages-item:nth-child(1) {
  color: #FFFFFF;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-banner {
  color: #FFFFFF;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-description {
  color: #333333;
  margin-bottom: 30px;
}

.advantages-description-white {
  color: #FFFFFF;
}

.hotel-search {
  text-align: center;
  padding-top: 91px;
}

.hotel-search-title {
  display: block;
  margin-bottom: 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-text {
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-search {
  display: block;
  box-sizing: border-box;
  width: 574px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 93px;
  padding: 12px 15px;
}

.subscription {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  color: #FFFFFF;
  background-color: #466887;
  background-image: url("../images/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscription-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-text {
  margin-bottom: 44px;
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-form-field {
  box-sizing: border-box;
  min-width: 600px;
  padding: 20px 0 19px 22px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font: inherit;
  background: #F2F2F2;
  border-width: 0;
  border-radius: 10px 0 0 10px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.button-subscribe {
  width: 200px;
  min-height: 60px;
  padding: 12px 15px;
  margin: 0;
  border-radius: 0 10px 10px 0;
}


/* FOOTER */
.page-footer-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0 30px;
}

.footer-social {
  max-width: 150px;
  margin: 5px 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-link {
  display: block;
}

.footer-social-logo {
  fill: #83B3D3;
}

.footer-social-logo:hover {
  fill: #68A2CA;
}

.footer-social-link:focus svg {
  fill: #68A2CA;
}

.footer-social-logo:active {
  fill: rgba(104, 162, 202, 0.3);;
}

.footer-social-vk {
  padding: 13px 12px;
}

.footer-social-tg {
  padding: 12px 15px;
}

.footer-social-yt {
  padding: 12px 13px;
}

.footer-phone-wrapper {
  padding: 5px 195px;
  margin: 0;
}

.footer-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-author-logo {
  fill: #000000;
}

.footer-author-logo:hover {
  fill: #756157;
}

.footer-author-link:focus svg {
  fill: #756157;
}

.footer-author-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}


/* CATALOG PAGE */
.header-catalog-wrapper {
  box-sizing: border-box;
  min-height: 403px;
  padding: 38px 0 70px;
  background-color: #466887;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  margin: 0;
}

.catalog-filter {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
}

.inner-header-title {
  margin-bottom: 7px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item{
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 25px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  display: block;
  padding: 5px 0;
  min-width: 12px;
  min-height: 12px;
  background-image: url("../images/icons/icon-breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.breadcrumbs-item::after {
  display: block;
  position: absolute;
  top: 7px;
  right: -15px;
  width: 6px;
  height: 8px;
  background-image: url("../images/icons/icon-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-wrapper {
  display: flex;
}

/* .catalog-filter-wrapper:not(:last-child) {
  margin-right: 175px;
} */

.catalog-filter-wrapper .catalog-filter-group:first-child {
  margin-right: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  padding: 0;
  text-align: left;
}

.catalog-filter-group:nth-child(3) .catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3pt #83B3D3;
}

.control-input:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/icons/icon-checkbox.svg");
  content: "";
}

.control-mark-additional {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.control-input:focus + .control-mark-additional {
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-additional::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked:focus + .control-mark-additional {
  border: none;
  box-shadow: 0 0 0 3pt #83B3D3;
}

.control-input[type="radio"]:checked:focus + .control-mark-additional::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.catalog-filter-label {
  display: flex;
  box-sizing: border-box;
  width: 144px;
  padding-left: 19px;
  margin: 0;
  font: inherit;
  text-align: left;
  line-height: 23px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label + .catalog-filter-label{
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.catalog-filter-label:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:active {
  background-color: #756257;
  box-shadow: none;
}

.catalog-filter-label:focus-within .catalog-filter-label:active  {
  background-color: #756257;
  box-shadow: none;
  outline: none;
}

.catalog-filter-label:focus-within  {
  box-shadow: 0 0 0 3px #81B3D2, 0 0 0 3px #81B3D2 inset;
  border-color: rgba(255, 255, 255);
  outline: none;
}

.range-input {
  width: 100%;
  height: 100%;
  font: inherit;
  line-height: 23.31px;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  appearance: textfield;
}

.range-input:last-child {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.range-input:focus {
  outline: none;
}


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-text {
  margin-right: 13px;
  margin-top: 12px;
  margin-bottom: 13px;
  color: rgba(255, 255, 255, 0.3)
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-form-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-apply {
  min-width: 160px;
  padding: 14px 15px;
  margin-bottom: 20px;
}

.button-reset {
  font-weight: 400;
  padding: 0;
  background-color: transparent;
  text-transform: none;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.button-reset:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  background-color: transparent;
}

.catalog-search-result {
  padding-top: 55px;
}

.sort-order-menu {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.search-result-title {
  margin: 0;
  margin-right: 191px;
  padding-top: 9px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  box-sizing: border-box;
  min-width: 290px;
  margin-right: auto;
  padding: 14px 20px;
  font: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
  background-color: #FFFFFF;
  background-image: url("../images/icons/icon-select.svg");
  background-repeat: no-repeat;
  background-position: top 18px right 20px;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #68a2ca;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/icons/icon-select-disabled.svg");
}

.control {
  color: #FFFFFF;
}

.view-type {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 160px;
  height: 48px;
}

.view-type-item:not(:last-child) {
  margin-right: 8px;
}

.button-view-type {
  display: block;
  box-sizing: border-box;;
  min-width: 48px;
  min-height: 48px;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.button-view-type:hover {
  border-color: #000000;
}

.button-view-type:focus {
  border-color: #68A2CA;
}

.button-view-type:active {
  border-color: #000000;
}

.button-view-type-icons {
  background-image: url(../images/icons/icon-table.svg);
}

.button-view-type-slideshow {
  background-image: url(../images/icons/icon-slideshow.svg);
}

.button-view-type-list {
  background-image: url(../images/icons/icon-list.svg);
}

.button-view-type-selected {
  border-color: #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 66px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  padding-top: 20px;
  padding-left: 20px;
}

.hotel-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto auto auto auto 37px;
  gap: 16px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hotel-card-img {
  display: block;
  grid-column: 1 / -1;
}

.hotel-card-title {
  grid-column: 1 / -1;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.hotel-card-price-type {
  grid-column: 1 / 2;
  margin: 0;
  color: #333333;
}

.hotel-card-price-value {
  grid-column: 2 / 3;
  margin: 0;
  color: #333333;
}

.hotel-card-rating-stars {
  grid-column: 1 / span 1;
  display: block;
  height: 17px;
  margin: 10px 0;
  background-image: url("../images/icons/icon-star.svg");
  background-repeat: space;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 66px;
}

.four-stars {
  width: 89px;
}

.hotel-card-rating-text {
  grid-column: 2 / span 1;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: inline-block;
  padding: 9px 22px 8px 23px;
  text-align: center;
  background-color: #F2F2F2;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.divider-catalog {
  width: 1055px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #E6E6E6;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
}

.pagination-link:last-child {
  padding: 12px 18px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:hover {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:focus {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:disabled {
  color: #000000;
  background-color: #F2F2F2;
}

.result-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 386px;
  height: 49px;
}

.result-numbers-text {
  color: #333333;
  margin-right: 51px;
}

.result-numbers-select {
  min-width: 160px;
}

.subscription-catalog {
  padding: 94px 200px;
  text-align: center;
}

.subscription-catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscription-catalog-text {
  font-size: 22px;
  line-height: 26px;
  color:#333333;
  margin-bottom: 46px;
}
